.paginator {
    margin: 4em 0;
    text-align: center;
    .prev, .next {
        display: inline-block;
        margin: 0 4px;
        padding: 4px 12px;
        border-radius: 4px;
        border-bottom: 4px solid #F06292;
        font-size: 14px;
        color: #fff;
        background-color: #F06292;
        &:hover {
            background-color: #F06292;
        }
    }
}

.ds-thread,
#disqus_thread {
    margin-bottom: 2em;
}