body * {
	font-family: "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "PingFang SC", "Hiragino Sans GB", "Source Han Sans CN", "Source Han Sans SC", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
}

body {
	background: white;
	margin: 0;
	padding: 0;
}

.container {
	width: 320px;
	margin: 0 auto 50px;
}

.container>.title {
	color: #bbb;
	font-weight: bold;
	margin-bottom: 10px;
	background: #555;
	padding: 5px 15px;
}

.date {
	font-size: 17pt;
	font-weight: bold;
	line-height: 30pt;
	text-align: center;
}

.split,
.clear {
	clear: both;
	height: 1px;
	overflow-y: hidden;
}

.good,
.bad {
	clear: both;
	position: relative;
}

.bad {
	/*top: -1px;*/
}

.good .title,
.bad .title {
	float: left;
	width: 100px;
	font-weight: bold;
	text-align: center;
	font-size: 30pt;
	position: absolute;
	top: 0;
	bottom: 0;
}

.good .title>table,
.bad .title>table {
	position: absolute;
	width: 100%;
	height: 100%;
	border: none;
}

.good .title {
	background: #ffee44;
}

.bad .title {
	background: #ff4444;
	color: #fff;
}

.good .content,
.bad .content {
	margin-left: 115px;
	padding-right: 10px;
	padding-top: 1px;
	font-size: 15pt;
}

.good {
	background: #ffffaa;
}

.bad {
	background: #ffddd3;
}

.content ul {
	list-style: none;
	margin: 10px 0 0;
	padding: 0;
}

.content ul li {
	line-height: 150%;
	font-size: 15pt;
	font-weight: bold;
	color: #444;
}

.content ul li div.description {
	font-size: 10pt;
	font-weight: normal;
	color: #777;
	line-height: 110%;
	margin-bottom: 10px;
}

.line-tip {
	font-size: 11pt;
	margin-top: 10px;
	margin-left: 10px;
}

.direction_value {
	color: #4a4;
	font-weight: bold;
}

.comment {
	margin-top: 50px;
	font-size: 11pt;
	margin-left: 10px;
}

.comment ul {
	margin-left: 0;
	padding-left: 20px;
	color: #999;
}